table {
  width: 100%;
}

#title{
  text-align:center; 
  margin-top: 20px;
}

#booksTable{
  margin: 20px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  width: 140px;
}